@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1c;
  color: #fff;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.coin-text {
  margin-bottom: 20px;
  text-align: center;

  animation-name: moveInLeft; /* Using the moveinleft animation created with keyframes below */
    animation-duration: 1s;
}

.tool-tip {
  font-size: 16px;
  margin-bottom: 20px;

  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

/* Creating animations with keyframes */
@keyframes moveInLeft {
    /* Controlling the animation in time - 0% = start, 100% = finish */
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    /* Controlling the animation in time - 0% = start, 100% = finish */
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    /* Controlling the animation in time - 0% = start, 100% = finish */
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(
    -225deg,
  #ac32e4 0%, 
  #7918f2 48%, 
  #4801ff 100%
  );
  color: #e2e2e2;
  font-size: 16px;

  animation: moveInBottom 1s ease-out .75s; /* Last one is delay! */
  animation-fill-mode: backwards; /* Automatiaclly add the 0% keyframe from start to the element! */
}

.coin-input::placeholder {
  color: #e2e2e2;
}

.coin-container {
  display:flex;
  justify-content: center;

  animation: moveInBottom 1s ease-out .75s; /* Last one is delay! */
  animation-fill-mode: backwards; /* Automatiaclly add the 0% keyframe from start to the element! */
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 960px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 130px;
}

.coin-marketcap {
  width: 260px;
}

.coin-volume {
  width: 200px;
}

.coin-percent {
  width: 30%;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

